<div data-controller="hello">
  <h2>Home</h1>
  <p data-target="hello.output"></p>


  <% if user_signed_in? %>
    <%= render 'authenticated' %>
  <% else %>
    <%= render 'unauthenticated' %>
  <% end %>

  
</div>
